Source: janus
Section: python
Priority: optional
Maintainer: Andrew Svetlov <andrew.svetlov@gmail.com>
Uploaders: Andrew Svetlov <andrew.svetlov@gmail.com>
Build-Depends:
 debhelper (>= 9),
 python3-all (>= 3.4),
 python3-setuptools,
X-Python3-Version: >= 3.4
Standards-Version: 3.9.8
Homepage: https://pypi.python.org/pypi/janus
Vcs-Git: https://github.com/aio-libs/janus.git
Vcs-Browser: https://github.com/aio-libs/janus

Package: python3-janus
Architecture: all
Depends:
 ${misc:Depends},
 ${python3:Depends}
Description: Thread-safe asyncio-aware queue
